@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4"></h1>   
</div>

<main> 
   
    <div class = "Home">
    <!--TEXTO + FOTO-->
     <h1> MI PORFOLIO  </h1>
    <img src="img/Yo.jpeg" class="rounded float-end" alt="...">
    <p class="lead">
        @ViewBag.sobremi
    </p>
    <!--TEXTO + FOTO -->
    </div>
</main>

