@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4"></h1>   
</div>

<main> 
   
    <div class = "Home">
    <!--TEXTO + FOTO-->
     <h1> MI PORFOLIO</h1>
    <img src="img/Yo.jpeg" class="rounded float-end" alt="...">
    <p class="lead">
        Hola, Mi nombre es Agustín Alessi, tengo 16 años y estudio en la secundaria ORT, en la orientación de Informática. Este va a ser mi porfolio. Nací el 21 de Diciembre de 2007 en Buenos Aires, Argentina. Mi club favorito de Boca Juniors, me gusta ver fútbol y jugar fútbol con amigos, juntarme con amigos y estar con mi familia. Decidí estar en la orientación de programación por que me interesa la creación de videojuegos. 
    </p>
    <!--TEXTO + FOTO -->
    </div>
</main>

