@{
    ViewData["Title"] = " ";
}
<h1>@ViewData["Title"]  </h1>


<main>

      <h1> MIS PROYECTOS EN MI TRAYECTORIA DE INFORMÁTICA</h1>
    <!--PROYECTO 1--> 
    <div class = "Proyectos">
    <div class="card" style="width: 30rem;">
        <img src="\img/NY.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">QUE HACER EN NUEVA YORK REMASTERIZADO</h5>
            <p class="card-text">En este proyecto hecho con un compañero, decidimos crear una página web para ayudar a personas que no saben que hacer en Nueva York, en este, aplicamos html + css. Si deseas ver el proyecto, apreta el botón de abajo: </p>
            <a href="https://spiffy-tanuki-9d25a6.netlify.app" class="btn btn-primary">Página Web</a>
        </div>
      </div>  
    <!--PROYECTO 1-->  

    <!--PROYECTO 2-->
    <div class="card" style="width: 30rem;">
        <img src="\img/muebleria.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">LA MUEBLERÍA DE MI TÍA</h5>
            <p class="card-text">En este proyecto hecho por mi y un compañero, hicimos una página web para un local que vende muebles, utilizamos formularios y opciones en caso de que el usuario necesite especificar sus necesidades, Si deseas ver el proyecto, apreta el botón de abajo: </p>
            <a href="https://graceful-snickerdoodle-b63ba6.netlify.app" class="btn btn-primary">Página Web</a>
        </div>
      </div>  
    <!--PROYECTO 2-->

    <!--PROYECTO 3-->

    <div class="card" style="width: 30rem;">
        <img src="\img/Nueva York.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">QUE HACER EN NUEVA YORK</h5>
            <p class="card-text">En este proyecto hecho con un compañero, decidimos crear una página web para ayudar a personas que no saben que hacer en Nueva York, utilizamos unícamente html, fue uno de nuestros primeros trabajos en html. Si deseas ver el proyecto, apreta el botón de abajo: </p>
            <a href="https://helpful-cendol-cf0ac8.netlify.app" class="btn btn-primary">Página Web</a>
        </div>
      </div>
     <!--PROYECTO 3-->  
    </div>    
    </main>