@{
    ViewData["Title"] = " ";
}
<h1>@ViewData["Title"]  </h1>


<main>
<!--DEPORTES--> 
      <H1> DEPORTES</H1>
      
      <div class = "deportes">

      
        <!--FUTBOL-->
      <div class="card" style="width: 25rem;">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="\img\Caballito Juniors.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="\img/Pelota.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="\img/caballito norte.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
          <div class="card-body">
              <h5 class="card-title">Fútbol</h5>
              <p class="card-text"> Cuando tenía 7 años, jugué fútbol durante 2 años en Caballito Juniors, luego, a los 13 años jugué en un club llamado caballito norte. </p>
          </div>
        </div>  
        <!--FUTBOL-->

        <!--TENIS-->  
    <div class="card" style="width: 25rem;">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="\img/Ferro.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="\img/Tenis.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-body">
          <h5 class="card-title">Tenis</h5>
          <p class="card-text"> Jugué tenis un total de 5 años en mi vida, jugué en ferro en 2019. Pero debido al COVID-19, me dejó de interesar jugar al tenis </p>
      </div>
    </div>     
      <!--TENIS-->

      <!--NATACIÓN-->
      <div class="card" style="width: 25rem;">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="\img/First.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="\img/natacion.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
          <div class="card-body">
              <h5 class="card-title">Natación</h5>
              <p class="card-text"> Hice natación 3 años en un lugar llamado First y luego 2 años más en ORT cuando me encontraba en informática </p>
          </div>
        </div>
      </div>
      <!--NATACIÓN-->

<!--DEPORTES-->

<!---------------------------------------------------------------------------------------------------------------------------------------->
<H1> IDIOMAS</H1>
<!--IDIOMAS-->
      <div class = "idiomas">
    
      <div class="card" style="width: 25rem;">
        <img src="\img/Israel.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hebreo: Básico</h5>
          <p class="card-text"> En ort estuve 2 años aprendiendo hebreo</p>
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <img src="\img/Argentina.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Español: nativo</h5>
          <p class="card-text"> El español es mi idioma natal</p>
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <img src="\img/Gran bretaña.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ingles: intermedio</h5>
          <p class="card-text"> Estuve aprendiendo ingles desde hace 11 años, en 2022 hice el PET</p>
        </div>
      </div>
    </div>
<!--IDIOMAS-->

<!---------------------------------------------------------------------------------------------------------------------------------------->

<!-- COMIDAS-->
  <H1> COMIDAS</H1>
    <div class = "comidas">
      <!--SUSHI-->
      <div class="card" style="width: 25rem;">
        <img src="\img/Sushi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sushi</h5>
          <p class="card-text">Es una de mis comidas favoritas, siempre tengo ganas de comer sushi</p>
        </div>
      </div>
      <!--SUSHI-->

      <!--HAMBURGUESA-->
      <div class="card" style="width: 25rem;">
        <img src="\img/Hamburguesa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hamburguesa</h5>
          <p class="card-text">Es una de mis comidas favoritas para comer con mis amigos</p>
        </div>
      </div>
      <!--HAMBURGUESA-->

      <!--PIZZA-->
      <div class="card" style="width: 25rem;">
        <img src="\img/Pizza.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Es una de mis comidas favoritas para comer durante la noche</p>
        </div>
      </div>
    </div>
      <!--PIZZA-->

<!-- COMIDAS-->

<!---------------------------------------------------------------------------------------------------------------------------------------->

<!--COLEGIOS-->
<H1> COLEGIOS</H1>
<div class = "colegios">
  <div class="card" style="width: 25rem;">
    <img src="\img/Jardin del girasol.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jardin Del Girasol</h5>
      <p class="card-text">Fue mi primer colegio. allí aprendi muchas cosas</p>
    </div>
  </div>

  <div class="card" style="width: 25rem;">
    <img src="\img/Colegio Integral Caballito.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Colegio Integral Caballito</h5>
      <p class="card-text">Fue mi primaria. allí aprendi muchas cosas e hice muchos amigos</p>
    </div>
  </div>

  <div class="card" style="width: 25rem;">
    <img src="\img/Ort.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ORT</h5>
      <p class="card-text">Es mi secundaria actualmente, me encuentro en 4to año</p>
    </div>
  </div>
</div>
<!--COLEGIOS-->
 </main>